
<% if(addToCartSuccess){ %>
    <div class="container mt-5">
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <strong> <%= addToCartSuccess %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% } %> 

<% if(successDeleting){ %>
<div class="container mt-5">
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong> <%= successDeleting %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<% } %> 

<% if(successUpdating){ %>
<div class="container mt-5">
    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        <strong> <%= successUpdating %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
<% } %> 

<% errorUpdating.map(error => { %>
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span> <%= error.msg  %></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<%})%>

<% if(distroyCart){ %>
    <div class="container mt-5">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong> <%= distroyCart %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% } %> 